<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
    </head>
    <body>
        <p style="color: red">Hello, {{userName}}</p>
        <br>
       <a href={{link}}>Change password</a>
        <br>

        <p>Cheers,</p>
        <p>The team</p>
    </body>
</html>