<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
    </head>
    <body>
        <p style="color: red">Hello, {{userName}}</p>
        <br>
       <form method="POST" action="/api/validationPassword" class="form">
        <label for="password">Please enter your new password</label>
        <input type="password" name="password" placeholder="Escribe">
        <br/>
        <label for="password2">Please enter your new password again</label>
        <input type="password" name="password2" placeholder="Escribe">
        <button name="save" type="submit">send</button>
        </form>


        <br>
        <p>Cheers,</p>
        <p>The team</p>
        <script>
           
        const queryString = window.location.search;
        const params = new URLSearchParams(queryString);
        const tokenValue= params.get('token');


    
        const form = document.querySelector('.form');
        form.addEventListener('submit', (event) => {
        event.preventDefault(); 

    
        const formData = new FormData(form);
        

   
          fetch('/api/email/validationPassword', {
            method: 'POST',
            headers: {
              'Authorization': `Bearer ${tokenValue}`, 
              'Content-Type':'application/json'
            },
            body: JSON.stringify({password:formData.get("password"),password2:formData.get("password2")}), 
          })
          .then(response => {
          
            console.log('Solicitud completada:', response);
          })
          .catch(error => {
          
            console.error('Error en la solicitud:', error);
          });
        });
        </script>
    </body>
</html>